# OpenWeatherMap API Configuration
OPENWEATHER_API_KEY=17ee84dc11f497420dcc4a15cf18de51
OPENWEATHER_BASE_URL=https://api.openweathermap.org/data/2.5/weather
CITIES=London,New York,Tokyo,Paris,Sydney

# PostgreSQL Configuration
POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_DB=weather_warehouse
POSTGRES_USER=postgres
POSTGRES_PASSWORD=vanshdb

# Airflow Configuration
AIRFLOW_HOME=/path/to/airflow
DAG_ID=weather_etl_pipeline
SCHEDULE_INTERVAL=0 2 * * *

# Logging Configuration
LOG_LEVEL=INFO
LOG_FILE_PATH=logs/etl_pipeline.log
